// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  max-height:600px;
  background-color:$header-desc-background-color;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 2em;
  text-align: center;
  color: $header-desc-text-color;
  padding-bottom: 60%;


  @media (max-width: 480px) {
   padding-bottom: 60%;
   background-position: 50% 30px;
   background-size: 200%;
  }

}

.no-index{
  padding-bottom: 8%;

  @media (max-width:480px) {
  padding-bottom: 15%;
  }

}


.call-out p:last-child {
  margin-bottom: 0;
}
.call-out-title{
  font-size:1.5em;
  line-height:0px;
  margin-bottom:0.6em;
  @media (max-width: 480px) {
       font-size:1em;
  }
}

.call-out-subtitle{
  font-size: 0.6em;
  color: $text-color;
}


// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
