// Typography
@font-face
{
    font-family:"Caviar dreams";
    src:url('/css/CaviarDreams.ttf');
}

$font-family-main: 'Caviar dreams','Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Caviar dreams', 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 30%;
$padding-small: 2%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #807775;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #95c7eb;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: white;
$header-desc-text-color: #95c7eb;
